<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-danger ">
    <div class=" container container-fluid">
      <a class="navbar-brand" href="#"><img class="nl-logo" src="../../assets/resouces/nl-logo.svg" alt="Newslaundry"></a>
      <div class="header-items">
          <div class="email">
              <img class="email-img" src="../../assets/resouces/email-open.png" alt="email">
          </div>
          <div class="subscribe">
            <a href="#" class="sub-btn">SUBSCRIBE</a>
          </div>
          <div class="search">search</div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="18"  viewBox="0 0 18 20"><g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-width="1.728"><ellipse cx="5.71" cy="5.629" rx="5.462" ry="5.384" transform="translate(3 .735)"></ellipse><path d="M16.492 19.57c0-4.123-3.39-7.466-7.574-7.466-4.183 0-7.574 3.343-7.574 7.466"></path></g></svg>
          </div>
      </div>
    </div>
  </nav>
